.container{
    .head{
        
        margin-top: 20px ;
        margin-left: 110px;
        h2{
            color:#090932;
        }
    };
    .cont{
        width: 800px;
        margin-left: 110px;
    };
    .col-md-8{
        margin-left: 80px;
    }
    
}