.body{
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
      url("./image.png");
      background-position: top;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}